
* {
  text-align: center;
}

body {
  background-image: url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjk5Ni0wMjgta3JvaXJqbW0uanBn.jpg");
  background-repeat: no-repeat;
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Header */
header {
  text-align: center;
	box-shadow: inset 0 0 0 1000px rgba(0,0,0,.1);
}

#header_title {
  padding: 15px;
  padding-bottom: 80px;
}

#header_title p {
  position: absolute;
  top: 10px;
  left: 20px;
}

.back-arrow {
  max-height: 15px;
}

/* Rockband */

.band-frame {
  background-image: url("https://static.vecteezy.com/system/resources/previews/013/365/549/large_2x/light-brick-wall-close-up-image-row-brick-and-cement-block-background-and-texture-free-photo.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  display: flex;
  margin: 50px;
  padding: 50px;
  padding-top: 15%;
}

#drums, #guitar, #sax, #bass, #triangle {
  background-color: white;
  padding: 20px;
  border-radius: 15px;
  margin: 15px;
  text-align: center;
}

.active {
  animation: shake 0.5s;
  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

.title img {
  width: 75%;
}

.title {
  margin-top: -100px;
}

#drums img {
  width: 100%;
}

#guitar img {
  width: 80%;
}

#bass img {
  width: 90%;
}

#sax img {
  width: 70%;
}

#triangle img {
  width: 70%;
}

.left-frame, .right-frame {
  margin-top: -50px;
  width: 30%;
}

.mid-frame {
  width: 40%;
}


@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

